**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/node_modules/
**/wwwroot/
**/*.user
**/*.tmp
**/logs/
**/test-results/
**/coverage/
**/.git/
**/.gitignore
**/README.md
**/LICENSE.txt
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore